.app-owner-chat-ui {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; */
    margin-top: 150px;
}

.chat-ui {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.input {
    padding: 10px;
    width: 550px;
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.customer-text, .owner-text {
    width: auto;
    min-width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
   
}
.customer-text {
    background-color: rgb(7, 125, 158);
   margin-top: 5px;
}

.owner-text {
    background-color: rgb(19, 157, 111);
    margin-top: 5px;
}



.property-title {
    padding: 10px;
}

.fa-paper-plane {
    transform: scale(2.0);
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.send-btn {
    background-color: white;
    border: none;
}


.owner-left {
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}




body{margin-top:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}