<div class="app-reservation-sale">
    <div class="search-area">
        <input type="text" class="search-input" name = "keyword" (change)="onSearchSubmit($event)" placeholder="Search by property name"/>
      </div>
    <div class = 'reservation-list' *ngIf="reservations && reservations.length > 0">
        <div class = 'reservation-table'>
            <table>
                <thead>
                    <tr>
                        <th>Property name</th>
                        <th>Customer </th>
                        <th>Checkin Date</th>
                        <th>Checkout Date</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let p of reservations">
                    <tr>
                        <td><div class = 'name-text'>{{p.propertyName}}</div></td>
                        <td><div class = 'description-text' (click) = "showCustomerInfo(p.customerId)">

                            <mat-icon *ngIf="p.customerId != cusId">remove_red_eye</mat-icon>
                            <div class = 'customer-infor' *ngIf="p.customerId == cusId">
                                    {{customer.username}}, {{customer.phoneNumber}}, {{customer.email}}

                            </div>
                        </div></td>
                        <td>{{p.startDate | date}}</td>
                        <td>{{p.endDate | date}}</td>
                        <td>{{p.total}}</td>
                       
                    </tr>
                </tbody>
            </table>
            <div class="total">
                <div class = 'total-text'>Total: </div>
               <div class="total-value"> {{total}} $</div>
            </div>
        </div>
    </div>
    <div class = 'reservation-empty' *ngIf="!reservations || reservations.length == 0">
            <div class = 'title'>No reservations</div>
    </div>
</div>